body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #b0f4e6;
  background: -webkit-linear-gradient(top, #b0f4e6, #68a7b1);
  /* background-image: linear-gradient(135deg, #4ca1af 0%, #c4e0e5 100%); */
}

.home-body {
  min-height: 95vh;
}

.blog-body {
  min-height: 35vh;
  object-fit: contain;
}

.plain-body {
  min-height: 10vh;
  object-fit: contain;
}

.sectionHeight {
  padding: 3em 0;
}

.sectionHeading {
  text-align: center;
}

.sectionHeader {
  font-size: 45px;
}

.sectionData {
  margin-top: 3em;
}

.oddSection {
  background-color: #68a7b1;
}

.no-padding {
  padding: 0 !important;
}

/************************************************************ Top section ***********************************************/
.bg-cover {
  background-size: cover !important;
  background-image: url("https://i.postimg.cc/ZnHTP71s/aircraft-airplane-boat-1575833.jpg");
}

.navbar {
  padding-left: 20px;
  padding-right: 20px;
  background: rgba(0, 0, 0, 0.4);
}

.menuText {
  color: #fff !important;
}

/************************************************************ ABOUT SECTION ***********************************************/
.aboutImage {
  display: block;
  max-width: 95%;
}

/************************************************************ CARD SECTION ***********************************************/
.row {
  margin: 0;
}

.lineClamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.see-all {
  padding-right: 1em;
  text-decoration: none;
}

/************************************************************ CONTACT SECTION ***********************************************/

.contact-section {
  background: -webkit-linear-gradient(top, #b0f4e6, #68a7b1);
}

.contact-form {
  background: #fff;
  margin-top: 10%;
  margin-bottom: 5%;
  width: 70%;
  border-color: #3e92a3;
  border-width: 3px;
  border-style: ridge;
}
.contact-form .form-control {
  border-radius: 1rem;
}
.contact-image {
  text-align: center;
}
.contact-image img {
  border-radius: 6rem;
  width: 11%;
  margin-top: -3%;
  transform: rotate(29deg);
}
.contact-form form {
  padding: 14%;
}
/* .contact-form form .row {
  margin-bottom: -7%;
} */
.contact-form h3 {
  margin-bottom: 8%;
  margin-top: -10%;
  text-align: center;
  color: #0062cc;
}
.contact-form .btnContact {
  border: none;
  border-radius: 1rem;
  padding: 1.5%;
  background: #dc3545;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}
.btnContactSubmit {
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  color: #fff;
  background-color: #0062cc;
  border: none;
  cursor: pointer;
}

/************************************************************ BLOG PAGE ***********************************************/

.blog-card-image {
  height: 10em;
  object-fit: fill;
}

.blog-post-card {
  padding: 0 !important;
}

/************************************************************ LOGIN PAGE ***********************************************/

#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #9c9c9c;
  background-color: #eaeaea;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login
  .container
  #login-row
  #login-column
  #login-box
  #login-form
  #register-link {
  margin-top: -85px;
}

.error-text {
  color: #dc3545;
  font-size: small;
}

/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
  .navbar {
    background: #fff;
  }

  .sectionHeight {
    padding: 1em 0;
  }
  .sectionHeader {
    font-size: 30px;
  }
  .contact-form {
    width: 100%;
  }
  .menuText {
    color: #000 !important;
  }
}

@media (min-widh: 992px) {
}

.blog-post-img {
  position: relative;
  overflow: hidden;
  max-height: 350px;
}

.blog-post-title {
  margin-top: 2vh;
}
.text {
  margin-top: 15px;
}
.title {
  position: absolute;
  bottom: 45px;
  padding: 7px;
  right: 25px;
  padding-left: 25px;
  padding-right: 30px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
}
.name-author {
  position: absolute;
  bottom: 35px;
  left: 100px;
  font-size: 11px;
  color: white;
  background: black;
  padding: 2px;
  padding-right: 10px;
  padding-left: 22px;
  margin-left: -21px;
  z-index: 1;
  font-weight: 500;
}
.photo-author {
  max-height: 70px;
  padding: 2px;
  position: absolute;
  left: 25px;
  bottom: 25px;
  background: white;
  z-index: 3;
}

@media (max-width: 426px) {
  .title {
    font-size: 15px;
    bottom: -12px;
    right: 0px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .name-author {
    font-size: 9px;
    margin-left: -63px;
    bottom: 44px;
  }
  .sub-title {
    right: 0px;
    bottom: 18px;
    padding: 5px;
    font-size: 10px;
  }
}
